a {
  color: #000;
}

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading a {
  color: #fff;
}

.th img {
  width: 15rem;
}

.th img {
  width: 200px !important;
  height: 200px !important;
}

th img {
  width: 100%;
}

th p {
  margin: 0;
}

td img {
  width: 100%;
}

td p {
  margin: 0;
}

